full-calendar{
    height: 36vw;
    overflow: hidden;
}
#calendarx{
    z-index:20;
    box-sizing: border-box;
    margin:0 2vw;
}
.fc-day-today .fc-daygrid-day-number{
    color:white;
}
.fc-header-toolbar, .fc-toolbar, .fc-toolbar-chunk{
    text-align: center;
}
.fc-scrollgrid-sync-table, .fc-scrollgrid-section.fc-scrollgrid-section-body .fc-scrollgrid-section-liquid {
    background-color: rgb(255,255,255,0.4);
}
