<div id="centering">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-4">
            <div id="spec-bg1" class="tile is child box">
                <h2 class="heading">Najava početka nove akademske godine na SUM-u</h2>
            </div>
        </div>

        <div class="tile is-parent is-4">
            <div id="spec-bg2" class="tile is child box">
                <h2 class="heading">Govor rektora SUMa prof. dr. Zorana Tomića u povodu početka akademske godine</h2>
            </div>
        </div>

        <div class="tile is-parent is-4">
            <div id="spec-bg3" class="tile is child box">
                <h2 class="heading">Najava nove međunarodne konferencije u okviru neumskog konferencijskog ciklusa</h2>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">

        <div class="tile is-parent is-4">
            <div id="spec-bg4" class="tile is child box">
                <h2 class="heading">Sveta Misa povodom početka nove akademske godine</h2>
            </div>
        </div>

        <div class="tile is-parent is-6">
            <div id="spec-bg5" class="tile is child box">
                <h2 class="heading">Na sjednici Senata Sveučilišta u Mostaru usvojen Pravilnik o sveučilišnim ispravama</h2>
            </div>
        </div>

        <div class="tile is-parent is-2">
            <div id="spec-bg6" class="tile is child box">
                <h2 class="heading">Sveučilište ima prvog akademskog partnera iz Ujedinjenog Kraljevstva</h2>
            </div>
        </div>
    </div>
    
</div>