<div id="wrapper-main">
    <div id="wrapper-close">
        <div id="hold_margin">
            <h1>Sign Up</h1>
            <form>
                <input type="email" placeholder="Your email here" />
                <input type="text" placeholder="Your username here" />
                <input type="password" placeholder="Your password here" />
                <input type="submit" value="Sign Up" />
            </form>
            <p>Already have an account? <a id="register-link">Log in here!</a></p>
        </div>
    </div>
</div>